---
import closeSvg from '@atj/design/static/uswds/img/usa-icons/close.svg';
import * as routes from '../routes';
import { Image } from 'astro:assets';
import { getBaseUrl } from '../routes';

const getNavLinkClasses = (url: string) => {
  if (url === Astro.url.pathname) {
    return 'usa-nav-link usa-current';
  } else {
    return 'usa-nav-link';
  }
};

const currentRoute = Astro.url.pathname;
const isAboutContent = currentRoute.startsWith('/about');
const showAboutContent = false;
---

<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  {!isAboutContent && (
    <div class="topHeaderBanner bg-yellow">
      <span class="usa-navbar height-auto display-block padding-2"
      ><strong>STAGING SERVER</strong> - No changes you make here will be visible
        to the public.</span
      >
    </div>
  )}
  <div class="usa-navbar">
    <div class="usa-logo">
      <em class="usa-logo__text">
        <a href={routes.getHomeUrl()} title="10x Forms Platform">
          <Image
            src=`${getBaseUrl()}images/10x-logo.svg`
            alt="10x Forms Platform home"
            width="72"
            height="34"
            loading="eager"
            decoding="sync"
          />
          Forms Platform
        </a>
      </em>
    </div>
    <button type="button" class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button type="button" class="usa-nav__close">
        <img src={closeSvg.src} role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a
            href={routes.getHomeUrl()}
            class={getNavLinkClasses(routes.getHomeUrl())}
          >
            <span>My Forms</span>
          </a>
        </li>
        {showAboutContent && (
          <li class="usa-nav__primary-item">
            <a
              href={routes.getAboutUrl()}
              class={getNavLinkClasses(routes.getAboutUrl())}
            >
              <span>About</span>
            </a>
          </li>
        )}
        <li class="usa-nav__primary-item">
          <a
            href={routes.getStorybookUrl()}
            class={getNavLinkClasses(routes.getStorybookUrl())}
          >
            <span>Storybook</span>
          </a>
        </li>
      </ul>
      {showAboutContent && (
        <div class="usa-nav__secondary">
          <ul class="usa-nav__secondary-links">
            <li class="usa-nav__secondary-item">
              <button class="usa-button">Login</button>
            </li>
          </ul>
        </div>
      )}
    </div>
  </nav>
</header>
